
.whiteboard-container {
    display: flex;
    justify-content: center;

    padding: 2em;
}

#whiteboard-canvas {
    border: solid;

    background-color: rgb(237, 237, 237);

    position: relative;
}

/* #mouse-canvas {
    border: solid;
    position: absolute;
    z-index: 1;
    pointer-events: none;
} */
