
.messages {
    display: flex;
    width: 100%;
    height: calc(99.3vh - var(--header-height));
}

.messages h1 {
    margin: 0;
}

.messages h3 {
    margin: 0;
}

.messages-title-container {
    padding: 1em 1em;
    border-bottom: solid;
}

.users-list-container {
    width: 40%;
    height: 100%;

    overflow-y: scroll;
    border: solid;
}

.message-view {
    width: 60%;
    height: 100%;

    border: solid;
    border-left: none;

    display: flex;
    flex-direction: column;
}

.message-view-content {
    height: 90%;
    max-height: 90%;
    padding: 0.5em 1em;

    overflow-y: scroll;

    display: flex;
    flex-direction: column-reverse;
    gap: 0.5em;
}

.message {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.message > div {
    display: flex;
    flex-direction: column;
    gap: 0.1em;

    max-width: 80%;
}

.message p {
    margin: 0;
}

.message img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.message a {
    text-decoration: none;
    color: rgb(39, 39, 39);
}

.message-sent {
    align-items: flex-end;
}

.message-sent > div {
    align-items: flex-end;
}

.message-content {
    display: table;
    padding: 0.5em 0.6em;

    border: solid;
    border-width: 2px;
    border-radius: 20px;
}

.message-sent .message-content {
    border-bottom-right-radius: 0;
}

.message-received .message-content {
    border-bottom-left-radius: 0;
}

.convo {
    padding: 1em 0.8em;
    border-bottom: solid;
}

.convo:hover {
    background-color: rgba(0, 0, 0, 0.152);
    cursor: pointer;
}

.convo-selected {
    background-color: rgba(0, 0, 0, 0.152);
}

.message-send-container {
    width: 100%;
    height: 2em;

    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.message-send-container > input {
    height: 100%;
}

.message-send-button {
    width: 5em;
    cursor: pointer;
}

.message-upload-image input[type="file"] {
    display: none;
}
.message-upload-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
    cursor: pointer;
    border: solid;
    border-width: 1px;
    padding: 0em 0.5em;
}
