.posts-container {
    height: 100%;
    padding-top: 1em;
}

.posts-container h1 {
    margin: 0;
}

.posts-scroll {
    /* display: flex;
    flex-direction: column; */
    height: 80%;

    border: solid;
    border-color: rgb(43, 43, 43);
    overflow-y: scroll;
}

.post-container p {
    margin: 0;
}

.posts-container form {
    margin: 0;
    padding: 0;
}

.post-container {
    padding: 1em 1em;

    border: solid;
    border-color: rgb(43, 43, 43);
    border-width: 0.15em;
}

.post-header-container {
    display: flex;
    margin-bottom: 0.5em;
}

.post-header-container a {
    color: rgb(0, 0, 0);
}