.posts-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}

.posts-container h1 {
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 32px;
}

th {
    background-color: rgb(117, 201, 250);
}

td {
    background-color: rgb(205, 235, 253);
}

.post-container p {
    margin: 0;
}

.post-container {
    padding: 1em 1em;

    border: solid;
    border-color: rgb(43, 43, 43);
    border-width: 0.15em;
}

.post-header-container {
    display: flex;
    margin-bottom: 0.5em;
}
